@theme-color:#3F51B5;

* {
  margin:0px;
  padding:0px;
  font-family:roboto,sans-serif;
  font-weight:300;
}
html, body, #map {
  height:100%;
  width:100%;
}
#map, #list-container {
  box-sizing:border-box;
  border-top:106px solid #000;
}
#list-container {
  padding:20px;
  display:none;
}
#identify {
  width:100%;
  position:absolute;
  bottom:0px;
  left:0px;
  box-sizing:border-box;
  padding:20px;
  display:none;
}
#identify-name {
  width:100%;
  box-sizing:border-box;
  padding:10px;
  -webkit-appearance:none;
  font-size:16pt;
  border:1px solid #CCC;
  border-radius:3px;
}
header {
  box-shadow:3px 0px 3px rgba(0,0,0,0.25);
  background-color:@theme-color;
  color:#FFF;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
}
header h1 {
  height:56px;
  line-height:56px;
  font-size:20px;
  padding:0px 10px;
  font-weight:400;
}
@unit-height:48px;
nav {
  height:@unit-height;
  font-size:14px;
  text-transform:uppercase;
}
nav a {
  display:block;
  float:left;
  width:50%;
  height:@unit-height;
  text-align:center;
  line-height:@unit-height;
  color:rgba(255,255,255,0.6);
  border-bottom:2px solid @theme-color;
}
nav a.active {
  color:#FFF;
  border-bottom-color:#FFF59D;
}
#list a {
  height:48px;
  display:block;
  line-height:44px;
  width:100%;
  font-size:16px;
}
#list {
  list-style-type:none;
}
a {
  cursor:pointer;
}
#status {
  position:absolute;
  bottom:10px;
  left:10px;
  color:#000;
  text-shadow:0px 0px 1px #FFF;
  font-size:10pt;
}
/*#num-people {
  height:25px;
  margin-left:5px;
  background-color:#900;
  color:#FFF;
  font-size:10pt;
  line-height:25px;
  border-radius:15px;
  min-width:25px;
  display:inline-block;
  vertical-align:middle;
}*/
#num-people:before {
  content:'(';
}
#num-people:after {
  content:')';
}
.user-marker {
  border:2px solid @theme-color;
  height:14px;
  line-height:14px;
  font-size:13px;
  background-color:#FFF;
  margin-top:-32px;
  margin-left:-10px;
  width:auto;
  white-space:nowrap;
  padding:0px 1px;
  box-shadow:0px 0px 3px rgba(0,0,0,0.5);
}
.user-marker:before {
  height:0px;
  width:0px;
  display:block;
  content:' ';
  float:left;
  margin-right:-12px;
  position:relative;
  top:16px;
  border-top:14px solid @theme-color;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
}